*{
	margin: 0;
	padding: 0;
}

body{
	background-color: white;
}

h1{
	font-size: 50px;
	font-family: Pacifico, sans-serif;
	float: left;
}

img{
	width: 100%;
	height: auto;
}

p{
	font-family: 'PT Sans', sans-serif;
	text-align: justify;
	color: #fff;
	padding-top: 0;
	margin-top: 0;


}

.card p {
	margin: 10px 10px 10px 10px;
	height: auto;
}


#nav{
	position: fixed;
	width: 100%;
	background-color: #fff;
	height: 90px;
}

#area{
	position: center;
	padding-bottom: 10px;
	width: 66.7%;
	margin: auto;
}

#menu{
	font-family: "Archivo Black", sans-serif;
	float: right;
	width: 45%%;
	padding-top: 40px ;
}

#learn{
	display: inline-block;
	text-align: center;
	width: 100%;
	height: auto;
}

#letra p{
	padding: 10px 10px 10px 10px;
}

#songs{
	display: inline-block;
	margin-top: -7px;
	margin-left: -3px;
	width: 100%;
	height: auto;
	background-color: #1e2120;
	padding-left: 3px;

}

#both{
	display: inline-block;
	text-align: center;
	width: auto;
	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 1px;
	float: right;
}

#video{
	display: inline-block;
	width: 33.3%;
	padding-top: 25px;
	padding-right: 25%;
	float: left;
	

}

#letra{
	display: inline-block;
	width: 33.3%;
	font-size: 10px;
	padding-left: 10px;
	padding-top: 20px;


	
}


#area a{
	color: #000;
	text-decoration: none;
	padding: 5px;
}

/* links */
#area a:active{
	color: #000;
}

#area a:visited{
	color: #000;
}

#area a:hover{
	background-color: #000;
	color: #fff;
}

/* classes */
.verde{
	background-color: #c9e5a7;
}
.vermelho{
	background-color: #e5b1a7;
}
.azul{
	background-color: #a5c6e2;
}
.amarelo{
	background-color: #f7eb7e;
}

.card{
	display: inline-block;
	float: left;
	margin-top: -3px;
	margin-left: -3px;
	width: 25%;
	height: 150px;
	padding-left: 3px;
	border: 0px solid #fff;
}







