*{
	margin: 0;
	padding: 0;
}

body{
	background-color: white;
}

h1{
	font-size: 50px;
	font-family: Pacifico, sans-serif;
	float: left;
}

#imagem{
	width: 100%;
	height: auto;
}

p{
	font-family: 'PT Sans', sans-serif;
	text-align: justify;
	color: #fff;
}

#nav{
	position: fixed;
	width: 100%;
	background-color: #fff;
	height: 90px;
}

#area{
	position: center;
	padding-bottom: 10px;
	width: 66.7%;
	margin: auto;
	
}

#menu{
	font-family: "Archivo Black", sans-serif;
	float: right;
	width: 45%;
	padding-top: 40px ;
}

#learn{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(100px, auto);
	width: 100%;
}

#learn p {
	margin: 10px;
}

#foot{
	display: grid;
	grid-template-rows: 1fr;
	width: 100%;
	height: 50px;
	background-color: #a5c6e2;
}

#foot a{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #a5c6e2;
	text-align: center;
	padding-top: 1%;
}


.cardBlue{
	background-color: #a5c6e2;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end:2;
	text-align: center;
}
.cardRed{
	background-color: #e5b1a7;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end:2;
	text-align: center;
}
.cardGreen{
	background-color: #c9e5a7;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end:2;
	text-align: center;
}
.cardYellow{
	background-color: #f7eb7e;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end:2;
	text-align: center;
}

#letra p{
	padding: 10px 10px 10px 10px;
}

#songs{
	width: 100%;
	height: auto;
	background-color: #1e2120;
}

.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: minmax(100px, auto);
	padding-top: 5%;
	width: 100%;
	height: auto;
	text-align: center;
	
}

.video{
	width: 33.3%;
	height: auto;
	padding-left: 25%;
	
}

.letra{
	padding-right: 25%;
	font-size: 10px;
		
}

#area a{
	color: #000;
	text-decoration: none;
	padding: 5px;
}

/* links */
#area a:active{
	color: #000;
}

#area a:visited{
	color: #000;
}

#area a:hover{
	background-color: #000;
	color: #fff;
}